
<div id="logo">
   <%=image_tag"burger.JPG", class: "img-fluid" %> 
  </div>


<div class="card-group">
    
    <div class="card">
       
        <div class="card-body">
           <%=image_tag"demo-burger" %> 
           <div class="card-header">The Big Knipper</div>
           <div class="btn btn-primary">Order Now!</div>
        </div>
    </div>
   <div class="card">
       
        <div class="card-body">
           <%=image_tag"demo-burger" %> 
           <div class="card-header">The Tim</div>
           <div class="btn btn-primary">Order Now!</div>
        </div>
    </div>

    <div class="card">
       
        <div class="card-body">
           <%=image_tag"demo-burger" %> 
            <div class="card-header">The Denis</div>
           <div class="btn btn-primary">Order Now!</div>
        </div>
    </div>
</div>

	



	